/*
Julius Alvarado
www.julius3d.com
*/

//-- variables:
$aussie-blue: #0D2A81;
$aussie-red: #ba0000;
$poppie-red: #fd351c;
$j-black: #434343;
$j-grey: #7d7d7d;
$poppie-green: #277611;

//-- headers:
.j-easter-h1 {
    font-weight: 300;
    text-transform: uppercase;
    color: mediumpurple;
}

//-- video style rules:
.j-contain-vid {
    padding: 0;
}

#j-video-section1 {
    #j-video1 {
        width: 700px;
        height: auto;
    }

    .jbtn-group {
        .jbutton {
            background-color: mediumpurple; /* Green */
            border: 1px solid yellow;
            color: white;
            padding: 12px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            float: left;
            margin: 0 4px;
        }

        .jbutton:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

        .jbutton:hover {
            background-color: whitesmoke;
            color: mediumpurple;
        }
    }
}

.j-red {
    color: $aussie-red;
}

//-- store hours:
#j-store-hours {
    h1, h2, h4 {
        padding: 8px;
        border: 1px solid #0D2A81;
    }

    h1 {
        background-color: #0D2A81;
    }
}

.j-anzac-header {
    text-transform: uppercase;
    //font-weight: bold;
    color: $aussie-blue;
    text-shadow: 1px 1px 1px $aussie-red;
    opacity: 0.7;
}

.j-anzac-recipe {
    h4 {
        color: $j-grey;
        font-weight: 400;
    }
}

//-- jcard rules:
.jcard {
    text-align: center;
    background-color: #fff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 8px;
    color: #515151;
    min-height: 312px;
    max-height: 312px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        width: 150px;
        height: 184px;
    }

    img.j-img-portrait {
        width: 110px;
        height: 184px;
    }

    img.j-img-landscape {
        width: 170px;
        height: 116px;
    }

    img.j-img-square {
        width: 180px;
        height: 180px;
    }

    img.j-img-aus-balloon {
        width: 110px;
        height: 154px;
    }
    img.j-img-parlova-pie {
        width: 170px;
        height: 121px;
    }
}

.j-img-header {
    width: 100%;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}

.j-shadow {
    box-shadow: 0 8px 20px 4px rgba(0, 0, 0, 0.7);
}

.j-div {
    overflow-x: scroll;
}

.j-contain {
    padding: 4px 12px;
}

.j-cart {
    padding-top: 8px;
}

.j-soldout {
    color: darkred;
}

.j-table-header-blue {
    color: #002a7e;
    font-weight: 400;
    text-transform: uppercase;
}

.j-brand-btn {
    border: 1px solid $aussie-blue;
}

.j-stretch-80 {
    width: 70%;
}

@media only screen and (max-width: 992px) {
    .j-stretch-80 {
        width: 100%;
    }
}

#j-top-nav-1st {
    .j-pad-top-12 {
        padding-top: 12px;
    }

    .nav li:hover {
        background-color: $aussie-blue;
        a {
            color: $aussie-red
        }
    }
}

//-- Search Bar styles:
#j-top-right-nav {
    padding: 16px;

    .j-search-form {
        width: 80%;
        padding: 14px 22px;
        box-sizing: border-box;
        border: 2px solid $aussie-red;
        color: #434343;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
    }

    .j-search-form:focus {
        color: #434343;
        background-color: #e4e4e4;
        outline: none;
    }

    #j-search-btn {
        position: absolute;
        background-color: #8B0000;
        /* border-color: #fff; */
        border-width: 0;
        height: 52px;
        width: 8%;
        font-weight: bolder;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .j-login-btn {
        border-radius: 16px !important;
        width: 120px !important;
        color: $aussie-blue !important;
    }

    .grid-child {
        p {
            padding-top: 10px;
        }

        a {
            text-decoration: none;
        }
    }
}

//-- ANZAC Day styles:
#j-anzac {
    .anzac-header {
        background-image: url(https://web.archive.org/web/20170311204314im_/http://i.imgur.com/IO3ERaL.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        width: 100%;
        min-height: 140px;

        h1, h2, h3, h4, p {
            color: whitesmoke;
        }

        .j-header-left {
            background-color: rgba(0, 0, 0, 0.5);
            padding-bottom: 12px;
        }
    }
}

//------------------------------------------------------------------------------------

//----------------------------------------
//-- overwriting bootstrap styles section:
//-----------------------------------------

.search-wrap {
    li {
        display: inline-block;
    }
}

.nav > li > a {
    text-decoration: none;
}

.table > tbody > tr > th {
    border-top: none;
}

.table > tbody > tr > td {
    border-top: none;
}

.navbar {
    border: none;
    margin-bottom: 0;
    position: initial;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }

    .navbar-form .form-control {
        width: 400px;
    }
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: $aussie-blue;
    font-weight: bold;
}

a:hover {
    color: $aussie-red;
}









