<form class="form-inline">
	<input type="text" class="form-control" ng-model="$ctrl.date" placeholder="date">
	<input type="text" class="form-control" ng-model="$ctrl.description" placeholder="description">
	<input type="text" class="form-control" ng-model="$ctrl.payee" placeholder="payee">
	
	<select ng-model="$ctrl.selectedCategory" class="form-control"
			ng-options="category.name for category in $ctrl.categoires track by category.$id"></select>
	
	<input type="text" placeholder="Amount" class="form-control" ng-model="$ctrl.amount">
	<button class="btn btn-info btn-sm" ng-click="$ctrl.create()">Create</button>
</form>