<div id="j-product-slider-edit-container" class="container-fluid">
	<h1 class="text-center">EDIT PRODUCTS:</h1>
	
	<!-------------------------------->
	<!-- Initial Product Group Loop -->
	<!-------------------------------->
	<div class="row">
		<div class="initial-product-group" ng-class="{'inactive': (activeArea !== -1), 'active': (activeArea === -1)}">
			<h1>
				<small>Product Group</small>
				<strong>{{ activeArea+2 }}</strong> |
				                                    group1product1.image() =
				<i ng-bind="row1products.group1product1.image()"></i>
			</h1>
			
			<!-- The LOOP begins here: -->
			<div class="col-sm-3 col-md-3" ng-repeat="p in apcCurrentProducts" ng-init="setRow1($index, p)">
				<div class="jcard">
					<!-- Product Image URL -->
					<form ng-hide="showImageUrl" class="form-group" ng-submit="">
						<input type="text" class="form-control" placeholder="Image URL">
					</form>
					<img ng-src="{{ p.image }}" class="j-img-w110 j-edit" alt="chocolate" ng-click="editImageUrl()"
					     ng-class="{ 'j-img-parlova-pie': (p.productId === 'DDPM12') }">
					
					<!-- Product Title Description -->
					<h4 class="j-edit" ng-show="showHeader" ng-click="editHeader()"> {{ p.name }} </h4>
					<form ng-hide="showHeader" class="form-group">
						<input type="text" class="form-control" placeholder="Product Title Description">
					</form>
					
					<!-- Product id -->
					<h6 class="j-edit" ng-show="showProductId" ng-click="editProductId()">Item #: {{p.productId}}</h6>
					<div ng-hide="showProductId" class="form-group">
						<input type="text" class="form-control" placeholder="Product Id">
					</div>
					
					<!-- Product Price -->
					<h4 class="j-edit" ng-show="showPrice" ng-click="editPrice()">${{p.price}}</h4>
					<div ng-hide="showPrice" class="form-group">
						<input type="text" class="form-control" placeholder="Price">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--------------------------------------------------------------->
	<!-- AngularJS loops for incremented product-groups / products -->
	<!--------------------------------------------------------------->
	<div class="row">
		<div class="product-group {{'product-group'+$index}}" ng-repeat="e in repetitionAmount"
		     ng-class="{
				'active': ($index === activeArea),
				'inactive': ($index !== activeArea)
		     }">
			<h2>
				<small>Product Group</small>
				<strong>{{ activeArea+2 }}</strong>
			</h2>
			<!-- inner loop for individual products: -->
			<div class="col-sm-3 col-md-3" ng-repeat="p in apcCurrentProducts">
				<div class="jcard">
					<a href="http://www.aussieproducts.com/prodinfo.asp?number=DDGS85">
						<!-- Will have to eventually add correct class for correct aspect ratio's. -->
						<img class="j-img-w110" alt="chocolate" ng-src="{{p.image}}"
						     ng-class="{
								'j-parlova-pie': (p.productId === 'DDPM12')
							 }">
						<h4> {{p.name}} </h4>
						<h6> Item #: {{p.productId}} </h6>
						<h4> ${{p.price}} </h4>
					</a>
				</div>
			</div>
		</div>
		
		<!---------------------------------------------------->
		<!-- Circular Indicators for active Product Groups  -->
		<!---------------------------------------------------->
		<div class="j-slider-indicators">
			<span class="j-circle" ng-repeat="i in [0,1,2,3]" ng-click="updateActiveArea($index)"
			      ng-class="{ 'jslide-active': ($index === indicatorCheck() ),
					'jslide-inactive': ($index !== indicatorCheck() )}">
			</span>
		</div>
	</div>
	
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
	<!---------------------------->
	<!-- Product Slider Footer: -->
	<!---------------------------->
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-center">slider footer</h4>
			<button class="btn btn-primary" type="button">
				Golden Syrup <span class="badge">4</span>
			</button>
			<button class="btn btn-primary" type="button">
				Coconut <span class="badge">4</span>
			</button>
			<button class="btn btn-primary" type="button">
				Pavlova <span class="badge">4</span>
			</button>
			<button class="btn btn-primary" type="button">
				Sausage Rolls <span class="badge">4</span>
			</button>
			<button class="btn btn-primary" type="button">
				Hand Flags <span class="badge">4</span>
			</button>
		</div>
	</div>
	
	<!----------------------------->
	<!-- SliderProduct Component -->
	<!----------------------------->
	<slider-product></slider-product>
</div>
