<div id="j-product-slider-container" class="container-fluid">
	<h1 class="text-center">{{ productsGroup1_title }} Products</h1>

	<!-- Initial Product Group Loop -->
	<div class="initial-product-group"
	     ng-class="{
			'inactive': (activeArea !== -1),
		    'active': (activeArea === -1)}">
		<h1><small>Product Group</small> <strong>{{ activeArea+2 }}</strong></h1>

		<div class="col-sm-3 col-md-3" ng-repeat="p in apcCurrentProducts">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=DDGS85">
					<img ng-src="{{p.image}}" class="j-img-w110" alt="chocolate"
					     ng-class="{'j-img-parlova-pie': (p.productId === 'DDPM12')}">
					<h4>{{p.name}}</h4>
					<h6>Item #: {{p.productId}}</h6>
					<h4>${{p.price}}</h4>
				</a>
			</div>
		</div>
	</div>

	<!-- AngularJS loops for incremented product-groups & products -->
	<div class="row">
		<div class="product-group {{'product-group'+$index}}" ng-repeat="e in repetitionAmount"
		     ng-class="{
				'active': ($index === activeArea),
				'inactive': ($index !== activeArea)
		     }">
			<h2>
				<small>Product Group</small>
				<strong>{{ activeArea+2 }}</strong>
			</h2>
			<!-- inner loop for individual products: -->
			<div class="col-sm-3 col-md-3" ng-repeat="p in apcCurrentProducts">
				<div class="jcard">
					<a href="http://www.aussieproducts.com/prodinfo.asp?number=DDGS85">
						<img ng-src="{{p.image}}"
						     class="j-img-w110" alt="chocolate">
						<h4>{{p.name}}</h4>
						<h6>Item #: DDGS85</h6>
						<h4>$13.95</h4>
					</a>
				</div>
			</div>
		</div>
	</div>

	<br><br>
	<!-- Circular Indicators for active Product Groups  -->
	<div class="j-slider-indicators">
		<span class="j-circle" ng-repeat="i in [0,1,2,3]" ng-click="updateActiveArea($index)"
		      ng-class="{
				'jslide-active': ($index === indicatorCheck() ),
				'jslide-inactive': ($index !== indicatorCheck() )
			  }">
		</span>
		<br>
	</div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<!-- Product Slider Footer: -->
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-center">slider footer</h4>
			<button class="btn btn-primary" type="button">
				Golden Syrup <span class="badge">4</span>
			</button>
			<button class="btn btn-primary" type="button">
				Coconut <span class="badge">4</span>
			</button>
			<button class="btn btn-primary" type="button">
				Pavlova <span class="badge">4</span>
			</button>
			<button class="btn btn-primary" type="button">
				Sausage Rolls <span class="badge">4</span>
			</button>
			<button class="btn btn-primary" type="button">
				Hand Flags <span class="badge">4</span>
			</button>
		</div>
	</div>
</div>